    <section class="illustration" id="page-top">
        <img src="{{site.url}}/assets/img/banner.png" >

    </section>

    <!-- About Section -->
    <section class="success" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-lg-offset-3 text-center" id="introtext">

            <p>ABOUT</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center" id="aboutpic">

            <img width="600px" src="{{site.url}}/assets/img/details.png" alt="">
          </div>
        </div>













        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">

            <div id="code">
              <div id="groupcircle">
                <div id="red" class="circle"></div>
                <div id="yellow" class="circle"></div>
                <div id="green" class="circle"></div>
              </div>


              <div id="console">
                <p>Hello, thank you for visiting our website!<br><br>
                  Al–Amin Enterprise is a company consists of 26 UniKL students from Bachelor of Software Engineering (BSE) in Semester 1. An event will be held to portray the Islamic civilization culture such as traditional wear, the arts of Islamic calligraphy and the hijrah story of prophet Muhammad SAW. This activity aims to give in-depth knowledge of Islamic culture to UniKL students and UniKL staff. 

                  <br><br><br>

                  <i>Some of our activities are:-</i><br>
                  <p class="answer">Food & beverages sales</p><br>
                  <p class="answer">Photobooth</p><br>
                  <p class="answer">Exhibition</p><br>
                  <p class="answer">Peformance</p><br>
                  <p class="answer">Games</p><br>

                  <br><br>
                  You may order your food and beverages online and they will be delivered to you in campus only! <br><br><br>
                  &#x276f; <a target="_blank" href="https://www.instagram.com/islamictech17/">@islamictech17</a><br>
                  <!-- &#x276f; <a target="_blank" href="https://twitter.com/aisyahhanifiah">@aisyahhanifiah</a><br>
                  &#x276f; <a target="_blank" href="http://amelienation.tumblr.com/">amelienation.tumblr.com</a><br>
                  &#x276f; <a target="_blank" href="mailto:aisyahhanifiah@live.com">aisyahhanifiah@live.com</a> --><br>
                </p>
              </div>
            </div>



          </div>
        </div>
      </div>
    </section>
