    <section class="illustration" id="page-top">
        <img class="img-responsive" src="{{site.url}}/assets/img/q3.jpg" >

    </section>

    <!-- About Section -->
    <section class="success" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-lg-offset-3 text-center" id="introtext">
            <p>Hello, world! I'm an aspiring designer and developer from Kuala Lumpur, Malaysia.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">

            <div id="code">
              <div id="groupcircle">
                <div id="red" class="circle"></div>
                <div id="yellow" class="circle"></div>
                <div id="green" class="circle"></div>
              </div>


              <div id="console">
                <p>Hello, I'm Aisyah and thank you for visiting!<br><br>
                  Originally from Seremban, living in Kuala Lumpur. I create stuff. 
                  I am driven by a passion for colour, pattern, and minimalism to produce work that is bold, playful and specific. I am currently doing freelance works, feel free to <a target="_blank" href="{{site.url}}/assets/img/resume-graphic-design-aug2017-disclose.pdf">look at my resume</a>, my works at <a target="_blank" href="https://www.instagram.com/amberandsparkles/">Amber & Sparkles</a> and <a target="_blank" href="https://www.instagram.com/thepixelthings/">The Pixel Things</a><br><br><br>

                  <i>Favorite movie:</i> <p class="answer">Dazed and Confused, Juno</p><br>
                  <i>Celebrity crush:</i> <p class="answer">Benedict Cumberbatch</p><br>
                  <i>Guilty pleasure:</i> <p class="answer">White Chicks</p><br>
                  <i>Dream:</i> <p class="answer">Own a house by the sea and spend most of my time traveling</p><br>
                  <i>Interest:</i> <p class="answer">Books, breakfast, coffee, spotify, movies, code</p><br><br>
                  <br>
                  <i>Skills:</i><br>
                  <p class="answer">Photoshop</p><br>
                  <p class="answer">Illustrator</p><br>
                  <p class="answer">WordPress</p><br>
                  <p class="answer">Bootstrap</p><br>
                  <p class="answer">CSS</p><br>
                  <p class="answer">HTML5</p><br>
                  <p class="answer">PHP</p><br>

                  <br><br>
                  If you have a work for me or just want to say hello, please do get in touch via email! <br><br><br>
                  &#x276f; <a target="_blank" href="https://www.instagram.com/aisyahaway/">@aisyahaway</a><br>
                  &#x276f; <a target="_blank" href="https://twitter.com/aisyahhanifiah">@aisyahhanifiah</a><br>
                  &#x276f; <a target="_blank" href="http://amelienation.tumblr.com/">amelienation.tumblr.com</a><br>
                  &#x276f; <a target="_blank" href="mailto:aisyahhanifiah@live.com">aisyahhanifiah@live.com</a><br>
                </p>
              </div>
            </div>



          </div>
        </div>
      </div>
    </section>
