
<!-- Contact Section -->
<section class="contact" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 text-center" id="introtext" >
                <p>Order</p>
            </div>
        </div>


        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center" id="aboutpic">

            <img width="700px" class="img-responsive" src="{{site.url}}/assets/img/menu1.jpg" alt="">
          </div>
        </div>







        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">

            <div id="code">
              <div id="groupcircle">
                <div id="red" class="circle"></div>
                <div id="yellow" class="circle"></div>
                <div id="green" class="circle"></div>
              </div>


              <div id="console">
                <p>We deliver our food and beverages to you in UniKL MIIT!<br><br>
                  Contact our staff below and order your breakfasts, brunches and lunches!
                   

                  <br><br><br>

                  <i>WhatsApp/Message:-</i><br>
                  <p class="answer">013-5282967</p><br>
                  <p class="answer">018-9001349</p><br>
                  

                </p>
              </div>
            </div>



          </div>
        </div>




        <!-- a row has to be in a container -->
       <!--  <div class="container"> 
        
           <div id="contacts">
             <div class="row">    
               
               <div class="col-lg-8 col-lg-offset-2">
                 
                 <form name="sentMessage"  id="contactForm"  novalidate>

                   <div class="control-group">
                    <div class="controls">
                        <input type="text" class="form-control" 
                        placeholder="Name" id="name" required
                        data-validation-required-message="*Please enter your name" />
                        <p class="help-block"></p>
                    </div>
                </div>     
                <div class="control-group">
                  <div class="controls">
                    <input type="email" class="form-control" placeholder="Email" 
                    id="email" required
                    data-validation-required-message="*Please enter your email" />
                </div>
            </div>  

            <div class="control-group">
               <div class="controls">
                   <textarea rows="10" cols="100" class="form-control" 
                   placeholder="Personal Question / Design Inquiry / Sponsorship / Collaboration" id="message" required
                   data-validation-required-message="*Please enter your message" minlength="5" 
                   data-validation-minlength-message="*Min 5 characters" 
                   maxlength="999" style="resize:none"></textarea>
               </div>
           </div>        
           <div id="success"> </div>
           <button type="submit" class="btn btn-primary raised">Send</button><br />
       </form>
   </div>
</div>
</div>
</div> -->


</div>
</section>
