    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center" id="introtext" >
                    <p>Activities</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="portfolio-big">
                        <a class="image-popup-no-margins" target="_blank" href="{{site.url}}/assets/img/bc1.jpg">
                            <img class="img-responsive" src="{{site.url}}/assets/img/bc1.jpg">
                        </a>
                        <a class="image-popup-no-margins" target="_blank" href="{{site.url}}/assets/img/bc2.jpg">
                            <img class="img-responsive" src="{{site.url}}/assets/img/bc2.jpg">
                        </a>       
                            
                        
                        <p class="description">
                            <b>Business Cards</b>&nbsp;&nbsp; A modern, clean and professional business card template. I design a wide range of business cards that is suitable for any kind of business.
                        </p>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="portfolio-thumb">
                        <a class="image-popup-no-margins" target="_blank" href="{{site.url}}/assets/img/ill-me.jpg"><img class="img-responsive" src="{{site.url}}/assets/img/ill-me.jpg"></a>
                        <p class="description"><b>Illustrations</b>&nbsp;&nbsp; Imagining myself in a cold weather absorbing heat from a cup of green tea.</p>
                    </div>
                    <div class="portfolio-thumb pull-right">
                        <a class="image-popup-no-margins" target="_blank" href="{{site.url}}/assets/img/loveibu.jpg"><img class="img-responsive" src="{{site.url}}/assets/img/loveibu.jpg"></a>
                        <p class="description"><b>Love Ibu</b>&nbsp;&nbsp; A logo variations from the making of <a target="_blank" href="https://www.instagram.com/loveibushop/">Love Ibu</a> logo branding.</p>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="portfolio-thumb">
                        <a class="image-popup-no-margins" href="{{site.url}}/assets/img/logofolio5.jpg"><img class="img-responsive" src="{{site.url}}/assets/img/logofolio5.jpg"></a>
                        <p class="description"><b>Logo</b>&nbsp;&nbsp; Check out my full logofolio <a target="_blank" href="{{site.url}}/assets/img/logofoliobyaisyahhanifiah.compressed.pdf">here</a>.</p>
                    </div>
                    <div class="portfolio-thumb pull-right">
                        <a class="image-popup-no-margins" href="{{site.url}}/assets/img/logofolio6.jpg"><img class="img-responsive" src="{{site.url}}/assets/img/logofolio6.jpg"></a>
                        <p class="description"><b>Logo</b>&nbsp;&nbsp; Check out my full logofolio <a target="_blank" href="{{site.url}}/assets/img/logofoliobyaisyahhanifiah.compressed.pdf">here</a>.</p>
                    </div>
                </div>
            </div>





            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="portfolio-thumb">
                        <a class="image-popup-no-margins" href="{{site.url}}/assets/img/KMB.jpg"><img class="img-responsive" src="{{site.url}}/assets/img/KMB.jpg"></a>
                        <p class="description"><b>Event Branding</b>&nbsp;&nbsp; A design to represent an event or exhibition. Easily being implemented into a corporate&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; t-shirt or other merchandises. </p>
                    </div>
                    <div class="portfolio-thumb pull-right">
                        <a class="image-popup-no-margins" href="{{site.url}}/assets/img/COME.jpg"><img class="img-responsive" src="{{site.url}}/assets/img/COME.jpg"></a>
                        <p class="description"><b>Event Branding</b>&nbsp;&nbsp; A design to represent an event or exhibition. Easily being implemented into a corporate&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; t-shirt or other merchandises. </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="portfolio-big">
                        <a class="image-popup-no-margins" href="{{site.url}}/assets/img/nas.jpg">
                            <img class="img-responsive" src="{{site.url}}/assets/img/nas.jpg">
                        </a>
                        <p class="description">
                            <b>Banner</b>&nbsp;&nbsp; A humanitarian class project held in Cambodia by Kolej Mara Banting students <a target="_blank" href="https://www.instagram.com/p/-1_B99w1C2/">More Pictures</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="portfolio-thumb">
                        <a class="image-popup-no-margins" href="{{site.url}}/assets/img/CASE.jpg"><img class="img-responsive" src="{{site.url}}/assets/img/CASE.jpg"></a>
                        <p class="description"><b>Phone Case</b>&nbsp;&nbsp; A beautifully printed phone case to add a fabulously cool touch to your favorite piece of technology!</p>
                    </div>
                    <div class="portfolio-thumb pull-right">
                        <a class="image-popup-no-margins" href="{{site.url}}/assets/img/tag.jpg"><img class="img-responsive" src="{{site.url}}/assets/img/tag.jpg"></a>
                        <p class="description"><b>Identity Design</b>&nbsp;&nbsp; This clean, minimalist and a little feminine touch label tag for fashion branding.</p>
                    </div>
                </div>
            </div>

<div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="portfolio-thumb">
                        <a class="image-popup-no-margins" href="{{site.url}}/assets/img/gm.jpg"><img class="img-responsive" src="{{site.url}}/assets/img/gm.jpg"></a>
                        <p class="description"><b>Line Art</b>&nbsp;&nbsp; Designing small individual icons before grouping them together to act as one.</p>
                    </div>
                    <div class="portfolio-thumb pull-right">
                        <a class="image-popup-no-margins" href="{{site.url}}/assets/img/r.png"><img class="img-responsive" src="{{site.url}}/assets/img/r.png"></a>
                        <p class="description"><b>Instagram Post</b>&nbsp;&nbsp; Providing a distinctive and elegant look to a restaurant for their social media marketing.</p>
                    </div>
                </div>
            </div>


        </div>
    </section>
