    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center" id="introtext" >
                    <p>Activities</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="portfolio-big">
                        <a class="image-popup-no-margins" target="_blank" href="{{site.url}}/assets/img/meeting-1.JPG">
                            <img class="img-responsive" src="{{site.url}}/assets/img/meeting-1.JPG">
                        </a>
                        <!-- <a class="image-popup-no-margins" target="_blank" href="{{site.url}}/assets/img/bc2.jpg">
                            <img class="img-responsive" src="{{site.url}}/assets/img/bc2.jpg">
                        </a>        -->
                            
                        
                        <p class="description">
                            <b>Meeting</b>&nbsp;&nbsp; Weekly meetings with members of Al-Amin Enterprise for the upcoming event.
                        </p>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="portfolio-thumb">
                        <a class="image-popup-no-margins" target="_blank" href="{{site.url}}/assets/img/kebab.JPG"><img class="img-responsive" src="{{site.url}}/assets/img/kebab.JPG"></a>
                        <p class="description"><b>Kebab</b>&nbsp;&nbsp; Juicy, savoury, spice-tastic kebab made with love by our crew Nadhirah</p>
                    </div>
                    <div class="portfolio-thumb pull-right">
                        <a class="image-popup-no-margins" target="_blank" href="{{site.url}}/assets/img/menu.pdf"><img class="img-responsive" src="{{site.url}}/assets/img/menu.jpg"></a>
                        <p class="description"><b>Menu</b>&nbsp;&nbsp; Browse our signature menu <a target="_blank" href="{{site.url}}/assets/img/menu.pdf">here</a>.</p>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="portfolio-thumb">
                        <a class="image-popup-no-margins" href="{{site.url}}/assets/img/nasiarab.jpg"><img class="img-responsive" src="{{site.url}}/assets/img/nasiarab.jpg"></a>
                        <p class="description"><b>Nasi Arab</b>&nbsp;&nbsp; Enjoy this meal in its authentic way! Deliciously aromatic Arabian rice.</p>
                    </div>
                    <div class="portfolio-thumb pull-right">
                        <a class="image-popup-no-margins" href="{{site.url}}/assets/img/coffee.jpg"><img class="img-responsive" src="{{site.url}}/assets/img/coffee.jpg"></a>
                        <p class="description"><b>Coffee</b>&nbsp;&nbsp; Coffee is not just any beverage but almost a ritual for many.</p>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="portfolio-thumb">
                        <a class="image-popup-no-margins" href="{{site.url}}/assets/img/teh.jpg"><img class="img-responsive" src="{{site.url}}/assets/img/teh.jpg"></a>
                        <p class="description"><b>Mint Tea</b>&nbsp;&nbsp; A vital moment of calm and comfort before you start your day!</p>
                    </div>
                    <div class="portfolio-thumb pull-right">
                        <a class="image-popup-no-margins" href="{{site.url}}/assets/img/roti.jpg"><img class="img-responsive" src="{{site.url}}/assets/img/roti.jpg"></a>
                        <p class="description"><b>Roti Arab & Kuah</b>&nbsp;&nbsp; So easy to eat! Pinch off the bread and dip into the curry. Yum!</p>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="portfolio-thumb">
                        <a class="image-popup-no-margins" href="{{site.url}}/assets/img/booth3.jpg"><img class="img-responsive" src="{{site.url}}/assets/img/booth3.jpg"></a>
                        <p class="description"><b>Crafting</b>&nbsp;&nbsp; Customizing our crafts for booth decorations.</p>
                    </div>
                    <div class="portfolio-thumb pull-right">
                        <a class="image-popup-no-margins" href="{{site.url}}/assets/img/booth4.jpg"><img class="img-responsive" src="{{site.url}}/assets/img/booth4.jpg"></a>
                        <p class="description"><b>Preparation</b>&nbsp;&nbsp; Setting up our booth at UniKL lobby.</p>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="portfolio-big">
                        <a class="image-popup-no-margins" target="_blank" href="{{site.url}}/assets/img/booth1.JPG">
                            <img class="img-responsive" src="{{site.url}}/assets/img/booth1.JPG">
                        </a>
                        <!-- <a class="image-popup-no-margins" target="_blank" href="{{site.url}}/assets/img/bc2.jpg">
                            <img class="img-responsive" src="{{site.url}}/assets/img/bc2.jpg">
                        </a>        -->
                            
                        
                        <p class="description">
                            <b>Preparation</b>&nbsp;&nbsp; Setting up our booth at UniKL lobby.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="portfolio-big">
                        <a class="image-popup-no-margins" target="_blank" href="{{site.url}}/assets/img/booth2.JPG">
                            <img class="img-responsive" src="{{site.url}}/assets/img/booth2.JPG">
                        </a>
                        <!-- <a class="image-popup-no-margins" target="_blank" href="{{site.url}}/assets/img/bc2.jpg">
                            <img class="img-responsive" src="{{site.url}}/assets/img/bc2.jpg">
                        </a>        -->
                            
                        
                        <p class="description">
                            <b>Preparation</b>&nbsp;&nbsp; Setting up our booth at UniKL lobby.
                        </p>
                    </div>
                </div>
            </div>

<!-- 
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="portfolio-thumb">
                        <a class="image-popup-no-margins" href="{{site.url}}/assets/img/KMB.jpg"><img class="img-responsive" src="{{site.url}}/assets/img/KMB.jpg"></a>
                        <p class="description"><b>Event Branding</b>&nbsp;&nbsp; A design to represent an event or exhibition. Easily being implemented into a corporate&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; t-shirt or other merchandises. </p>
                    </div>
                    <div class="portfolio-thumb pull-right">
                        <a class="image-popup-no-margins" href="{{site.url}}/assets/img/COME.jpg"><img class="img-responsive" src="{{site.url}}/assets/img/COME.jpg"></a>
                        <p class="description"><b>Event Branding</b>&nbsp;&nbsp; A design to represent an event or exhibition. Easily being implemented into a corporate&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; t-shirt or other merchandises. </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="portfolio-big">
                        <a class="image-popup-no-margins" href="{{site.url}}/assets/img/nas.jpg">
                            <img class="img-responsive" src="{{site.url}}/assets/img/nas.jpg">
                        </a>
                        <p class="description">
                            <b>Banner</b>&nbsp;&nbsp; A humanitarian class project held in Cambodia by Kolej Mara Banting students <a target="_blank" href="https://www.instagram.com/p/-1_B99w1C2/">More Pictures</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="portfolio-thumb">
                        <a class="image-popup-no-margins" href="{{site.url}}/assets/img/CASE.jpg"><img class="img-responsive" src="{{site.url}}/assets/img/CASE.jpg"></a>
                        <p class="description"><b>Phone Case</b>&nbsp;&nbsp; A beautifully printed phone case to add a fabulously cool touch to your favorite piece of technology!</p>
                    </div>
                    <div class="portfolio-thumb pull-right">
                        <a class="image-popup-no-margins" href="{{site.url}}/assets/img/tag.jpg"><img class="img-responsive" src="{{site.url}}/assets/img/tag.jpg"></a>
                        <p class="description"><b>Identity Design</b>&nbsp;&nbsp; This clean, minimalist and a little feminine touch label tag for fashion branding.</p>
                    </div>
                </div>
            </div>

<div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="portfolio-thumb">
                        <a class="image-popup-no-margins" href="{{site.url}}/assets/img/gm.jpg"><img class="img-responsive" src="{{site.url}}/assets/img/gm.jpg"></a>
                        <p class="description"><b>Line Art</b>&nbsp;&nbsp; Designing small individual icons before grouping them together to act as one.</p>
                    </div>
                    <div class="portfolio-thumb pull-right">
                        <a class="image-popup-no-margins" href="{{site.url}}/assets/img/r.png"><img class="img-responsive" src="{{site.url}}/assets/img/r.png"></a>
                        <p class="description"><b>Instagram Post</b>&nbsp;&nbsp; Providing a distinctive and elegant look to a restaurant for their social media marketing.</p>
                    </div>
                </div>
            </div> -->


        </div>
    </section>
